/d16_oop_coffee_machine/__pycache__
/d17_oop_quiz_project/__pycache__
/d18_oop_snake_game/__pycache__
/d19_oop_pong/__pycache__
/d20_oop_turtle_crossing/__pycache__
/d21_mail_merge_project/__pycache__
/d32_birthday_wish/constants.csv
d32_birthday_wish/birthdays.csv
/d32_birthday_wish/letter_templates